In [3]:
## list of dictionaries
ball_positions=[
    {1:[100,150,110,160]}, ## Frame 1: ball detected
    {1:[102,152,112,162]}, ## Frame 2: ball detected
    {},                    ## Frame 3: ball not detected (missing)
    {1:[106,156,116,166]} ## Frame 4: ball detexcted
]

ball_positions

[{1: [100, 150, 110, 160]},
 {1: [102, 152, 112, 162]},
 {},
 {1: [106, 156, 116, 166]}]

In [5]:
## list of lists
ball_positions=[x.get(1,[]) for x in ball_positions]
ball_positions

[[100, 150, 110, 160], [102, 152, 112, 162], [], [106, 156, 116, 166]]

In [7]:
import pandas as pd
df_ball_positions=pd.DataFrame(ball_positions,columns=['x1','y1','x2','y2'])
df_ball_positions.head()

      x1     y1     x2     y2
0  100.0  150.0  110.0  160.0
1  102.0  152.0  112.0  162.0
2    NaN    NaN    NaN    NaN
3  106.0  156.0  116.0  166.0

In [8]:
## interpolation:
df_ball_positions=df_ball_positions.interpolate()
df_ball_positions=df_ball_positions.bfill()
df_ball_positions.head()

      x1     y1     x2     y2
0  100.0  150.0  110.0  160.0
1  102.0  152.0  112.0  162.0
2  104.0  154.0  114.0  164.0
3  106.0  156.0  116.0  166.0

In [9]:
ball_positions=[{1:x} for x in df_ball_positions.to_numpy().tolist()]
ball_positions

[{1: [100.0, 150.0, 110.0, 160.0]},
 {1: [102.0, 152.0, 112.0, 162.0]},
 {1: [104.0, 154.0, 114.0, 164.0]},
 {1: [106.0, 156.0, 116.0, 166.0]}]